.table {
    th,
    td {
      border-top: 1px solid darken($border-color, 2%);
    }
  
    thead th {
      border-bottom: 2px solid darken($border-color, 2%);
    }
  
    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: lighten($border-color, 1%);
    }
  
    &.table-hover tbody tr:hover {
      background-color: lighten($border-color, 1%);
    }
  }