$navbar-height: 60px;
$sidebar-width: 260px;
$sidebar-pinned-wdth: 70px;

$app-primary: #242939!important !default;
$app-background: #f6f7fb;
$app-font-primary: "Fira Sans", sans-serif;
$app-font-primary-color: #000000;
$app-font-secondary: "Roboto Flex", sans-serif;
$app-modal-font-color: #fff;
$close-font-size: 25px;
$close-font-weight: 600px;
$close-font-hover: #fffbfb85;
$radio-btn-color: #486d8b;
$radio-btn-active-color: #033d6f;
$font-light-color: #fff;
$border-color: #dee2e6;
$primary-input-focus: #f0f3fd78;
$font-marked-color: #FFFF00;