<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Add Order</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <label>Customer Name</label>
                            <input type="text" [(ngModel)]="model.customerName" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Customer Ph Number</label>
                            <input type="text" [(ngModel)]="model.customerPhNumber" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Customer Email Id</label>
                            <input type="text" [(ngModel)]="model.customerEmailId" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Recipes</label>
                            <ng-select bindLabel="recipeName" bindValue="recipeId" [multiple]="true"
                                placeholder="Select Recipe" [(ngModel)]="selectedRecipes">
                            </ng-select>
                        </div>
                        <div class="col-sm-3">
                            <label>Location</label>
                            <input type="text" [(ngModel)]="model.customerLocation" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Order Date</label>
                            <input type="date" [(ngModel)]="model.customerOrderDate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="text-end">
                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel"
                    [routerLink]="['/order']" class="btn btn-sm btn-outline-dark me-2">Cancel</button>
                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Save"
                    (click)="SaveOrderDetails()" class="btn btn-sm btn-outline-success">Save</button>
            </div>
        </div>
    </div>
</div>