<div class="card">
    <div class="card-header">
        <h6>Reservation Details</h6>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <div class="col-sm-8">
                    <button type="button" [routerLink]="['create-reservation']"
                        class="btn btn-secondary float-end">Create</button>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped mt-5">
                    <thead>
                        <tr>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="customerName">Customer Name
                            </th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="customerPhNumber">Customer
                                Ph
                                Number</th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="emailId">Email Id</th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="numberOfGuest">Number Of
                                Guest
                            </th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="table">Table</th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="recipes">Recipes</th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="visitDate">Visit Date</th>
                            <th scope="col" [appSort]="models" data-order="desc" data-name="VisitTime">Visit Time</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let model of models; let rowIndex=index ">
                            <td>{{model.customerName}}</td>
                            <td>{{model.customerPhNumber}}</td>
                            <td>{{model.emailId}}</td>
                            <td>{{model.numberOfGuest}}</td>
                            <td>{{model.table}}</td>
                            <td>{{model.recipes}}</td>
                            <td>{{model.visitDate}}</td>
                            <td>{{model.VisitTime}}</td>
                            <td>
                                <a class="icon-action p-2" [routerLink]="['/reservation/edit/', model.reservationId]"
                                    ngbTooltip="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a class="icon-action p-2" (click)="DeleteReservationTableDetails(model.reservationId)"
                                    ngbTooltip="Delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>