<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Recipe create</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label>Recipe Name</label>
                            <input type="text" [(ngModel)]="model.recipeName" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Recipe Category</label>
                            <select class="form-control">
                                <option *ngFor="let c of recipeCategories" [ngValue]="c">{{c.recipeCategoryName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Recipe Prepare Date</label>
                            <input type="date" [(ngModel)]="model.recipePrepareDate" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>Recipe Expire Date</label>
                            <input type="date" [(ngModel)]="model.recipeExpireDate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="text-end">
                <button type="button" [routerLink]="['/recipe']"
                    class="btn btn-sm btn-outline-dark me-2">Cancel</button>
                <button type="button" (click)="SaveRecipeDetails()"
                    class="btn btn-sm btn-outline-success">Submit</button>
            </div>
        </div>
    </div>
</div>